{#<div class="box box-solid">
    <div class="box-body page-header">
        <div class="actions-menu">
            {% include configuration.vars.templates.toolbar|default('@OdiseoBackend/Crud/_toolbar.html.twig') ignore missing %}
        </div>
    </div>
</div>#}